body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background:url("https://images.unsplash.com/photo-1509023464722-18d996393ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-position:center ;
    background-size: cover;
    overflow: hidden;
}
h2{
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 4px;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.clock{
    display:flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background:rgb(85, 29, 29);
    opacity:.8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.clock .text{
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: black;
    opacity: 0.8;
}
#ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgb(16, 16, 85);
}